<!-- Este component é filho de app.component -->
<!-- Exibe a lista de heróis -->
<h2>My Heroes</h2>
<ul class="heroes">
  <!-- ngFor: Exibe a lista de heróis do mock-heroes -->
    <!-- Recebe o array heroes de heroes.component.ts, que foi mockado em mock-heroes -->
  <!-- (click): Evento click está em heroes.component -->
  <!-- [class.selected]: classe css que será adicionada se a condição por atendida -->
    <!-- CSS heroes.component.css -->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- filho deste component -->
<!-- utiliza o binding hero para passar os valores do hero 
  selecionado para o component filho pp-hero-detail -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>